.carousel-container {
  background-color: rgb(245, 242, 242);
}

a {
  text-decoration: none;
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;

  .h2 {
    text-transform: capitalize !important;
  }
}

.me-card-title {
  text-transform: capitalize;
  font-size: 32px;
}

.detail {
  padding: 10px;
}

.me-title {
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
}
