.add-new-hotel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 10px;

  .title {
    font-size: 28px;
    font-weight: 600;
    color: teal;
  }

  .new-hotel {
    padding: 10px;
    border: 1px teal solid;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    color: teal;

    &:hover {
      color: #fff;
      background-color: teal;
    }
  }
}

.css-yrdy0g-MuiDataGrid-columnHeaderRow {
  background-color: aqua;
  width: 100%;
}

.me-hotel-image{
  width: 200px;
  height: 200px;
}

.me-hotel{
  display: flex;
  gap: 32px;
  border-bottom: 5px solid #1c6ea4;
  border-radius: 10px;
}
