@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* declare all css variable here */
:root {
 --yellow-color: #ffb400;
 --green-color: #96bf01;
 --black-color: #252525;
}

/* reset settings for all browser */
*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}


html {
 font-size: 62.5%;
}

body {
 font-family: Lato, 'Lucida Sans', sans-serif;
 min-width: 32rem;
 font-size: 1.6rem;
 background-color: var(--yellow-color);
}

.d-flex {
 display: flex;
}

h1 {
 color: white;
}